
html {
    background-color: #e9edc9;
  }
.ant-tabs-tab {
    color: white !important;
  }
  
.ant-tabs-tab-active {
    color: #E30512 !important;
    font-weight: bold;
}

.ant-tabs-ink-bar {
    color: #E30512 !important;
    background-color:#E30512 !important;
}

.ant-tabs svg{
    color: white !important;
}
.ant-pagination-item-active{
    color: #E30512 !important;
    border-color: #E30512 !important;
}

.ant-pagination-item-active a{
    color: #E30512 !important;
    border-color: #E30512 !important;
}

.ant-pagination-item:hover{
    color: #E30512 !important;
    border-color: #E30512 !important;
}

.ant-pagination-item:hover a{
    color: #E30512 !important;
    border-color: #E30512 !important;
}

.ant-radio-inner::after{
    background-color: #E30512 !important;
  }
  
  .ant-radio-inner::after:hover{
    background-color: #E30512 !important;
  }
  
  .ant-radio-checked .ant-radio-inner {
    border-color: #E30512 !important;
  }
  
  .ant-radio-inner:hover{
    border-color: #E30512 !important;
  }
  
  .ant-radio-input:hover ~ .ant-radio-inner{
    border-color: #E30512 !important;
  }

 .ant-card-head{
    background-color: #2b2b2b !important;
    color:white !important;
}

.ant-table-thead > tr >th{
    color: white !important;
    background: #2b2b2b !important;
}

.ant-table-thead .ant-table-selection-column{
    color: white !important;
    background: #2b2b2b !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background-color: rgba(227, 5, 18, .3) !important;
    
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: transparent; 
    background-color: transparent;
}

.ant-switch-checked{
    background-color: #E30512;
}
